* {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

header {
    width: 100%;
    background-color: #0fdba8;
    color: white;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 0 15px rgba(5, 219, 226, 0.5);
}

.container {
  width: 100%;
  max-width: 850px;
  display: grid;
  background-color: aquamarine;
  margin: 22px;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  padding: 12px;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 8px;
}

.rightTitle {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
}

.box {
    width: 80%;
    padding: 12px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn-style {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

button {
    margin-left: 1px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.task {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.task-checkbox {
    margin-right: 10px;
}

.task-text {
    flex: 1; 
    margin-right: 60px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.task-text.task-completed {
  text-decoration: line-through;
}

.delete-task {
    position: absolute;
    right: 10px;
    background-color: #ff0e00;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.edit-task {
  position: absolute;
  right: 90px;
  background-color: #ffbf00;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-task:hover {
    background-color: #c82333;
}


@media (max-width: 600px) {

    .header {
        display: block;
        order: 1;
        margin-right: 20px;
    }

    .container {
        width: 80%;
        padding: 15px;
    }

    .task {
        flex-direction: column;
        align-items: flex-start;
    }


    button {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }

    .task-text {
        position: relative;
        top: -15px;
        margin-left: auto;
        margin-right: auto;
    }


    .task-checkbox {
        position: relative;
        right: -92px;
    }


    .edit-task {
        position: relative;
        width: 60%;
        top: -8px;
        right: -8px;
        margin-left: auto;
        margin-right: auto;
    }

    .delete-task {
        position: relative;
        width: 60%;
        right: -8px;
        margin-left: auto;
        margin-right: auto;
    }
}


